{% extends '::base.html.twig' %}

{% block body %}
    
    <h1>Test!</h1>
    {% if form is defined %}
    {{ form(form) }}
    {% endif %}
    
    {% if data is defined %}
        <pre>
        {{ dump(data) }}
        </pre>
    {% endif %}    
    

{% endblock %}