{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h1>Logowanie</h1>

    <div class="well">

        {{ form_start(form) }}
        
            {% if error %}
            <div class="alert alert-warning">
                <strong>Uwaga!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            {% endif %}
            
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" placeholder="Login" required="required" value="{{ last_username }}" name="_username" id="username" class="form-control">
                </div>
            </div>
                
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" placeholder="Hasło" required="required" name="_password" id="password" class="form-control">
                </div>
            </div>

            <div class="text-right form-group">
                <div class="btn-group">
                    <button value="" name="_submit" id="_submit" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Loguj</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}