{% extends '::base.html.twig' %}

{% block body %}
    
    <h1>UG Admin API main page</h1>
    {% if is_granted('ROLE_USER') %}
        <p>You are logged as: {{ app.user.username }}</p>
        <p><a href="{{path('logout')}}">Logout</a></p>
    {% else %}
        <p>You are anonymous</p>
        <p><a href="{{path('login')}}">Log in</a></p>
    {% endif %}

{% endblock %}